<header id="home">
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a
        href="#"
        class="navbar-brand d-flex justify-content-center align-items-center"
      >
        <div class="avatar rounded-circle"></div>
        <div class="d-flex flex-column justify-content-center text-light ms-3">
          <p class="m-0 fs-5">{{ user.name }}</p>
          <p class="m-0 fs-6 text-uppercase fw-light">{{ user.position }}</p>
        </div>
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#nav-menu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="nav-menu">
        @if(menu){
        <ul class="navbar-nav ms-auto">
          @for (item of menu; track $index) {
          <li class="nav-item">
            <a [href]="item.url" class="nav-link">{{ item.title }}</a>
          </li>
          }
        </ul>
        }
      </div>
    </div>
  </nav>
</header>
