<section class="hero" id="hero">
  <div class="welcome container d-flex align-items-center flex-column">
    <h1 class="text-light fw-light text-center">
      Creativity, Passion, Code...
    </h1>
    <h2 class="text-center text-light fw-lighter">
      "As a web developer, I focus on creating powerful, user-centered websites
      that solve problems and inspire. Explore my work, and let’s bring your
      vision to life."
    </h2>
    <br /><br />
    <button class="btn-browse btn btn-primary btn-lg text-light">
      Tell Me More
    </button>
  </div>
</section>
