$primary: #e56b6f; // Warm Coral for primary color (buttons, links, etc.)
$secondary: #355070; // Dark Blue for secondary color (footer, highlights)
$success: #eaac8b; // Peach Beige for success
$info: #6d597a; // Muted Purple for informational highlights
$warning: #b56576; // Soft Red for warning
$danger: #b56576; // Soft Red for danger
$light: #f4f1de; // Light Cream for light backgrounds
$dark: #333333; // Dark color for text or dark backgrounds

@import "bootstrap/scss/bootstrap";
